/* Basic Selectors and Properties */

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #eceff1;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; /* Base font size */
  font-weight: 400; /* Regular font weight */
  line-height: 1.5; /* Comfortable line height for reading */
  margin: 0;
  padding: 0;
  background-color: #eceff1; /* Light Grey */
  color: #455a64; /* Deep Blue Grey */
}

h1 {
  color: #607d8b; /* Blue Grey */
  font-size: 2.5em;
  font-weight: 500; /* Medium font weight */
  margin-bottom: 10px;
}

h2 {
  color: #607d8b; /* Blue Grey */
  font-size: 2em;
  font-weight: 500; /* Medium font weight */
  margin-top: 40px;
  margin-bottom: 15px;
}


/* The Box Model */
header,
section,
footer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #eceff1;
}

/* Advanced Selectors */
section:nth-child(odd) {
  background-color: #eceff1;
}
/* Button styles */

button {
  padding: 10px 20px;
  border: none;
  background-color: #009688; /* Teal */
  color: #eceff1;
  cursor: pointer;
  border-radius: 5%;
}

/* clear button */
#clearButton {
  background-color: red; /* danger */
  border-radius: 5%;
}

/* button and #clearButton hover */
button:hover,
#clearButton:hover {
  background-color: #455a64; /* Deep Blue Grey */
  color: #eceff1;
  transition: background-color 0.3s ease;
}

/* Styles for grid ingredients container and main image */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* This divides the container into two columns of equal width */
  gap: 20px;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}

.ingredients,
.main-image {
  width: 90%; /* Make sure they occupy the full width of their respective columns */
  border: 5px solid #607d8b;
  border-radius: 5px;
}
.ingredients {
  background-color: white !important;
  padding-top: 31px;
  padding-bottom: 31px;
}
.main-image {
  height: auto; /* maintain the image's aspect ratio */
}

/* Flexbox */
.wine-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.wine-flex .wine-card {
  flex: 1 1 calc(33.33% - 20px);
  background-color: #eceff1;
  border-radius: 10px;
  overflow: hidden;
}

.wine-flex .wine-card figure img {
  width: 100%;
  display: block;
}

.wine-flex .wine-card figure figcaption {
  text-align: center;
  padding: 10px 0;
  background-color: #009688; /* Teal */
  color: #eceff1;
}

/* the iframe */
iframe {
  width: 100%;
  height: 400px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .ingredients {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* Use only one column for small screens */
  }

  .wine-flex {
    flex-direction: column;
  }

  .wine-flex .wine-card {
    flex: 1 1 100%;
  }
}
