h1 {
  margin: 10px auto;
  text-align: center;
  padding: 1px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.secondTitle {
  margin: 10px auto;
  text-align: center;
  padding: 1px;
  background-color: green;
  color: white;
}

#thirdTitle {
  margin: 10px auto;
  text-align: center;
  padding: 1px;
  background-color: blue;
  color: white;
}
